<!DOCTYPE html>
<html lang="en">

  <%- include('partials/_head') %>

  <body>
    <%- include('partials/_header') %>
    <main class="container">
      <article id="quiz-thumbnail">
        <div class="quiz-image">
          <img src="/images/default-quiz-thumbnail.jpeg">
          <div class="quiz-name-overlay">quiz name</div>
        </div>
        <footer class="label">
          <div>Category</div>
          <div>Author</div>
        </footer>
      </article>
    </main>
  </body>
</html>
