<!DOCTYPE html>
<html lang="en">

  <%- include('partials/_head') %>

  <body>
    <%- include('partials/_header') %>
    <section class="category-filter">
      <div class="cat1">
        <button>Science</button>
        <button>History</button>
        <button>Movies</button>
        <button>Music</button>
        <button>Pop Culture</button>
        <button>Video Games</button>
      </div>
      <br>
      <div class="cat2">
        <button>Geography</button>
        <button>Sports</button>
        <button>Language</button>
        <button>Books</button>
        <button>Food</button>
        <button>Miscellaneous</button>
      </div>
    </section>
    <main class="container">
      <div class="container1">
        <aside class="featured-quiz">
          <div class="featured-overlay"> featured quiz</div>
          <div class="quiz-image">
            <img src="/images/default-quiz-thumbnail.jpeg">
            <div class="quiz-name-overlay">quiz name</div>
          </div>
          <footer class="label">
            <div>Category</div>
            <div>Author</div>
          </footer>
        </aside>
      </div>
      <div class="container2">
        <div class="standard-quiz">
          <article id="quiz-thumbnail">
            <div class="quiz-image">
              <img src="/images/default-quiz-thumbnail.jpeg">
              <div class="quiz-name-overlay">quiz name</div>
            </div>
            <footer class="label">
              <div>Category</div>
              <div>Author</div>
            </footer>
          </article>
          <article id="quiz-thumbnail">
            <div class="quiz-image">
              <img src="/images/default-quiz-thumbnail.jpeg">
              <div class="quiz-name-overlay">quiz name</div>
            </div>
            <footer class="label">
              <div>Category</div>
              <div>Author</div>
            </footer>
          </article>
          <article id="quiz-thumbnail">
            <div class="quiz-image">
              <img src="/images/default-quiz-thumbnail.jpeg">
              <div class="quiz-name-overlay">quiz name</div>
            </div>
            <footer class="label">
              <div>Category</div>
              <div>Author</div>
            </footer>
          </article>
          <article id="quiz-thumbnail">
            <div class="quiz-image">
              <img src="/images/default-quiz-thumbnail.jpeg">
              <div class="quiz-name-overlay">quiz name</div>
            </div>
            <footer class="label">
              <div>Category</div>
              <div>Author</div>
            </footer>
          </article>
          <article id="quiz-thumbnail">
            <div class="quiz-image">
              <img src="/images/default-quiz-thumbnail.jpeg">
              <div class="quiz-name-overlay">quiz name</div>
            </div>
            <footer class="label">
              <div>Category</div>
              <div>Author</div>
            </footer>
          </article>
          <article id="quiz-thumbnail">
            <div class="quiz-image">
              <img src="/images/default-quiz-thumbnail.jpeg">
              <div class="quiz-name-overlay">quiz name</div>
            </div>
            <footer class="label">
              <div>Category</div>
              <div>Author</div>
            </footer>
          </article>
          <article id="quiz-thumbnail">
            <div class="quiz-image">
              <img src="/images/default-quiz-thumbnail.jpeg">
              <div class="quiz-name-overlay">quiz name</div>
            </div>
            <footer class="label">
              <div>Category</div>
              <div>Author</div>
            </footer>
          </article>
          <article id="quiz-thumbnail">
            <div class="quiz-image">
              <img src="/images/default-quiz-thumbnail.jpeg">
              <div class="quiz-name-overlay">quiz name</div>
            </div>
            <footer class="label">
              <div>Category</div>
              <div>Author</div>
            </footer>
          </article>
          <article id="quiz-thumbnail">
            <div class="quiz-image">
              <img src="/images/default-quiz-thumbnail.jpeg">
              <div class="quiz-name-overlay">quiz name</div>
            </div>
            <footer class="label">
              <div>Category</div>
              <div>Author</div>
            </footer>
          </article>
          <article id="quiz-thumbnail">
            <div class="quiz-image">
              <img src="/images/default-quiz-thumbnail.jpeg">
              <div class="quiz-name-overlay">quiz name</div>
            </div>
            <footer class="label">
              <div>Category</div>
              <div>Author</div>
            </footer>
          </article>
          <article id="quiz-thumbnail">
            <div class="quiz-image">
              <img src="/images/default-quiz-thumbnail.jpeg">
              <div class="quiz-name-overlay">quiz name</div>
            </div>
            <footer class="label">
              <div>Category</div>
              <div>Author</div>
            </footer>
          </article>
          <article id="quiz-thumbnail">
            <div class="quiz-image">
              <img src="/images/default-quiz-thumbnail.jpeg">
              <div class="quiz-name-overlay">quiz name</div>
            </div>
            <footer class="label">
              <div>Category</div>
              <div>Author</div>
            </footer>
          </article>
        </div>
      </div>

    </main>
  </body>
</html>
