<!DOCTYPE html>
<html lang="en">

  <%- include('partials/_head') %>

  <body>
    <%- include('partials/_header') %>
    <!-- <main class="container">
      <aside class="featured-quiz">
        <div class="quiz-image">
          <img src="/images/default-quiz-thumbnail.jpeg">
          <div class="quiz-name-overlay">quiz name</div>
        </div>
        <footer class="label">
          <div>Category</div>
          <div>Author</div>
        </footer>
      </aside>
      <div class="standard-quiz">
        <article id="quiz-thumbnail">
          <div class="quiz-image">
            <img src="/images/default-quiz-thumbnail.jpeg">
            <div class="quiz-name-overlay">quiz name</div>
          </div>
          <footer class="label">
            <div>Category</div>
            <div>Author</div>
          </footer>
        </article>
      </div>
    </main> -->
    <main class="container">

      <div class="container1">
        <aside class="featured-quiz">
          <div class="quiz-image">
            <img src="/images/default-quiz-thumbnail.jpeg">
            <div class="quiz-name-overlay">quiz name</div>
          </div>
          <footer class="label">
            <div>Category</div>
            <div>Author</div>
          </footer>
        </aside>
      </div>

      <div class="container2">
        <div class="standard-quiz">
          <article id="quiz-thumbnail">
            <div class="quiz-image">
              <img src="/images/default-quiz-thumbnail.jpeg">
              <div class="quiz-name-overlay">quiz name</div>
            </div>
            <footer class="label">
              <div>Category</div>
              <div>Author</div>
            </footer>
          </article>
          <article id="quiz-thumbnail">
            <div class="quiz-image">
              <img src="/images/default-quiz-thumbnail.jpeg">
              <div class="quiz-name-overlay">quiz name</div>
            </div>
            <footer class="label">
              <div>Category</div>
              <div>Author</div>
            </footer>
          </article>
          <article id="quiz-thumbnail">
            <div class="quiz-image">
              <img src="/images/default-quiz-thumbnail.jpeg">
              <div class="quiz-name-overlay">quiz name</div>
            </div>
            <footer class="label">
              <div>Category</div>
              <div>Author</div>
            </footer>
          </article>
          <article id="quiz-thumbnail">
            <div class="quiz-image">
              <img src="/images/default-quiz-thumbnail.jpeg">
              <div class="quiz-name-overlay">quiz name</div>
            </div>
            <footer class="label">
              <div>Category</div>
              <div>Author</div>
            </footer>
          </article>
          <article id="quiz-thumbnail">
            <div class="quiz-image">
              <img src="/images/default-quiz-thumbnail.jpeg">
              <div class="quiz-name-overlay">quiz name</div>
            </div>
            <footer class="label">
              <div>Category</div>
              <div>Author</div>
            </footer>
          </article>
          <article id="quiz-thumbnail">
            <div class="quiz-image">
              <img src="/images/default-quiz-thumbnail.jpeg">
              <div class="quiz-name-overlay">quiz name</div>
            </div>
            <footer class="label">
              <div>Category</div>
              <div>Author</div>
            </footer>
          </article>
          <article id="quiz-thumbnail">
            <div class="quiz-image">
              <img src="/images/default-quiz-thumbnail.jpeg">
              <div class="quiz-name-overlay">quiz name</div>
            </div>
            <footer class="label">
              <div>Category</div>
              <div>Author</div>
            </footer>
          </article>
          <article id="quiz-thumbnail">
            <div class="quiz-image">
              <img src="/images/default-quiz-thumbnail.jpeg">
              <div class="quiz-name-overlay">quiz name</div>
            </div>
            <footer class="label">
              <div>Category</div>
              <div>Author</div>
            </footer>
          </article>
          <article id="quiz-thumbnail">
            <div class="quiz-image">
              <img src="/images/default-quiz-thumbnail.jpeg">
              <div class="quiz-name-overlay">quiz name</div>
            </div>
            <footer class="label">
              <div>Category</div>
              <div>Author</div>
            </footer>
          </article>
          <article id="quiz-thumbnail">
            <div class="quiz-image">
              <img src="/images/default-quiz-thumbnail.jpeg">
              <div class="quiz-name-overlay">quiz name</div>
            </div>
            <footer class="label">
              <div>Category</div>
              <div>Author</div>
            </footer>
          </article>
          <article id="quiz-thumbnail">
            <div class="quiz-image">
              <img src="/images/default-quiz-thumbnail.jpeg">
              <div class="quiz-name-overlay">quiz name</div>
            </div>
            <footer class="label">
              <div>Category</div>
              <div>Author</div>
            </footer>
          </article>
          <article id="quiz-thumbnail">
            <div class="quiz-image">
              <img src="/images/default-quiz-thumbnail.jpeg">
              <div class="quiz-name-overlay">quiz name</div>
            </div>
            <footer class="label">
              <div>Category</div>
              <div>Author</div>
            </footer>
          </article>
        </div>
      </div>

    </main>
  </body>
</html>
