.title-author-description {
  display: flex;
  flex-direction: column;
  position: fixed;
  background: none;
  padding: 20px 0;
  justify-content: center;
  gap: 5%;
  background-color: #fdecf5;
  text-align: center;
}

.results-page {
  // display: flex;
  // flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.quiz-name {
  font-size: 3em;
  font-weight: 900;
  font-style: bold;
  text-transform: uppercase;
  color: #5c548c;
  text-align: center;
}

.quiz-author {
  font-size: x-large;
  color: #8974ad;
  text-align: center;
}

.description {
  font-size: xx-large;
  color: #8974ad;
  word-break: break-word;
  text-align: center;
}

.start-time {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}

.actualTimer {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 40px;
  background-color: #efd9f2;
  color: #8974ad;
  padding: 2px 60px 2px 60px;
  border-radius: 10px;
  margin-left: 5px;
}


.start-time button {
  // width: 25%;
  font-size: 40px;
  background-color: #8974ad;
  border: none;
  padding: 2px 60px 2px 60px;
  border-radius: 10px;
  margin-right: 5px;
}

.start-time button:hover {
  background-color: #5c548c;
}

.timer {
  visibility: hidden;
}

.timer.fixOnScroll {
  position:fixed;
}

#quiz-questions {
  width: 77%;
  margin: 0 auto;
  font-size: 1em;
  height: 100%;
  margin-bottom: 20px;
}

.quizQuestionAttempt {
  font-size: xx-large;
  text-align: center;
  margin-bottom: 15px;
}

.quiz_attempt_question_options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#option {
  display: flex;
  flex-direction: row;
  width: 30%;
  margin: 0 auto;
  background: #efd9f2;
  font-size: x-large;
  text-align: center;
  margin: 10px 0px 10px 0px;
  justify-items: center;
  gap: 10px;
}

#optionRadio:hover {
  background-color: #8974ad;
  color: #fff;
}

#optionRadio:active {
  background-color: #8974ad;
  color: #fff;
}

#optionRadio {
  display: flex;
  align-items: center;
  text-align:center;
  font-size: x-large;
  background-color: #efd9f2;
  width: 90%;
  border-radius: 10px;
  margin: 5px;
}

input[type="radio"] {
  // -webkit-appearance: none;
  visibility: hidden;
  display: none;
}

input[type="radio"]:checked~#option {
  background: #5c548c;
}

.choiceOption {
  font-size: 27px;
  padding: 20px;
}

input.submit-answers {
  position: absolute;
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  left: 36%;
  background-color: #5c548c;
  color: #fff;
  border: none;
  width: 30%;
  font-size: 40px;
  text-transform: uppercase;
}

input.submit-answers:hover {
  background-color: #8974ad;
  color: white
}

//----------------------//

#quiz {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

#results {
  color: #5c548c;
  text-align: center;
  margin-bottom: 0;
}

form {
  margin-bottom: 0;
}

#shareButton {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  font-size: xx-large;
}

//--------------------------------//

