body {
  // min-height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #fdecf5;
}

main {
  margin-top: 120px;
  display: flex;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  height: 120px;
  width: 100%;
  background-color: #8974ad;
  font-size: 60px;
  position: fixed;
}

form {
  display: flex;
  align-items: center;
  padding: 5px
}

button {
  font-size: 0.6em;
  color: white;
  background-color: #5c548c;
}

.logo {
  font-size: 60px;
  font-family: 'Expletus Sans', cursive;
  letter-spacing: -3px;
  color: rgb(35, 25, 66);
  background: none;
  border: none;
}

.header-elements {
  margin: 10px;
  display: flex;
  // width: 100%;
}

.create-popout {
  display: flex;
  // width: 10px
}

#new-quiz-header {
  border-radius: 30%;
  height: 50px;
  width: 50px;
  overflow: hidden;
}

#new-quiz-header:hover {
  // border-radius: 25%;
  transition: 0.4s ease;
  width: 100%;
}

#new-quiz-header:hover:after {
  content: "Create New Quiz";
}

// .spacer {
//   padding: 10px;
// }
