body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #fdecf5;
}

main {
  margin-top: 120px;
  display: flex;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  height: 120px;
  width: 100%;
  background-color: #8974ad;
  font-size: 60px;
  position: fixed;
  z-index: 100;
}

form {
  display: flex;
  align-items: center;
  padding: 5px
}

button {
  font-size: 0.5em;
  color: white;
  background-color: #5c548c;
  border-radius: 10px;
}

.logo {
  font-size: 70px;
  font-family: 'Expletus Sans', cursive;
  letter-spacing: -4px;
  color: rgb(35, 25, 66);
  background: none;
  border: none;
}

.header-elements {
  margin: 10px;
  display: flex;
  align-items: center;
}
