//------------------standard thumbnail for quiz---------------------//

.quiz-thumbnail {
  margin: 5px 5px 5px 5px;
  display: flex;
  border-radius: 15px;

  flex-direction: column;
  // width: 28%;
  transition: 0.2s;
  overflow: hidden;
}

.quiz-thumbnail:hover {

  box-shadow: 5px 5px 9px rgba(92, 84, 140, 1);
  margin: 1px 10px 10px 1px;

  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

.quiz-image {
  position: relative;
  display: flex;
}

.quiz-name-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  color: #ac90db;
  background-color: #5c548c;
  font-size: 1em;
  text-transform: uppercase;
  word-break: break-word;
  font-weight: 900;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 1.5);
}

footer {
  background-color: #8974ad;
  color: white;
  padding: 5px;
  margin: 0px;
  text-transform: uppercase;
}

//--------------------featured quiz thumbnail----------------------//


.featured-quiz:hover {
  box-shadow: 5px 5px 9px rgba(92, 84, 140, 1);
  margin: 10px 20px 20px 10px;
  cursor: pointer;

}

.featured-quiz .quiz-name-overlay {
  font-size: 2.5em;
}

.featured-overlay {
  position: absolute;
}
