.users {
  width: 100%;
  display: flex;
  // justify-content: space-around;

}

.user-panel {
  margin: 1em;
  grid-row-start: 1;
  grid-row-end: 3;
}

#profile {
  background-color: red;
  flex: 1;
  width: 10%;
}

#profile-img {
  height: 9em;
}

#quizzes {
  background-color: blue;
  flex: 2;
}

#history {
  background-color: yellow;
  flex: 1;
}
