h2 {
  margin: 1em;
}

.users {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.user-panel {
  margin: 1em;
  height: 35em;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  display: flex;
  margin: 1em;
}

.history-column {
  display: flex;
  margin: 1em;
}

.quiz-photo {
  width: 10em;
}

.user-history {
  margin: 1em;
  display: flex;
}

.quiz-info {
  display: flex;
  flex-direction: column;
  padding: 0 0.5em 0 0.5em;
  background-color: orange;
}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: red;
  flex: 1;
}

#profile-img {
  margin: 4em;
  height: 10em;
}

#quizzes {
  background-color: blue;
  flex: 2;
  height: auto;
}

#user-quizzes {
  display: grid;
}

#user-history {
  display: grid;
}

#history {
  background-color: yellow;
  flex: 1;
  height: auto;
}
